body #nprogress .bar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 99999 !important; /* Even higher z-index */
  }


#nprogress .bar {
  background: #C80000;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

#nprogress .bar.nprogress-done {
  opacity: 0;
  transform: translateY(-100%);
}
  
  #nprogress .spinner-icon {
    width: 20px;
    height: 20px;
    border: solid 3px transparent;
    border-top-color: #C80000;
    border-left-color: #C80000;
  }